<ion-view class="with-background" title="{{'menu.myReports' | translate}}" hide-back-button="true">

  <!-- Header bar -->
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <!-- Content -->
  <ion-content>
    <div class="list">

      <a class="item item-thumbnail-left" ng-href="#/my-reports/{{report.id}}" ng-repeat="report in myReports.reports">
        <img ng-src="{{report.img}}">
        <h2>{{report.label}}</h2>
        <p>{{report.description}}</p>
      </a>

    </div>

  </ion-content>

  <a class="button button-positive button-large button-circle button-fab icon ion-plus-round" href="#/app/new-report"></a>

</ion-view>