<ion-view class="with-background" hide-nav-bar="true">

  <!-- Content -->
  <ion-content class="slide-presentation-container" scrollbar-y="false">

    <ion-slide-box class="slide-presentation">

      <ion-slide class="center" ng-repeat="slide in slides">
        <div class="padding-horizontal row responsive-sm">
          <div class="col">
            <img ng-src="{{slide.img}}">
          </div>
          <div class="col">
            <h2 class="positive"><strong>{{slide.title}}</strong></h2>
            <h4 class="dark">{{slide.subtitle}}</h4>
          </div>
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>

  <!-- Footer bar -->
  <ion-footer-bar class="bar-translucid">
    <div class="button-bar">
      <a href="#/app/signup" class="button button-positive">{{'actions.sign_up' | translate}}</a>
      <a href="#/app/signin" class="button button-assertive">{{'actions.sign_in' | translate}}</a>
    </div>
  </ion-footer-bar>

</ion-view>