<ion-view class="city-bg">

  <!-- Content -->
  <ion-content class="slide-presentation-container" scrollbar-y="false">

    <ion-slide-box class="slide-presentation text-center">

      <ion-slide class="center" ng-repeat="slide in presentation.slides">
        <div class="padding-horizontal row responsive-sm">
          <div class="col">
            <img ng-src="{{slide.img}}">
          </div>
          <div class="col">
            <h2 class="positive"><strong>{{slide.title}}</strong></h2>
            <h4 class="dark">{{slide.subtitle}}</h4>
          </div>
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>

  <!-- Footer bar -->
  <ion-footer-bar class="bar-translucid">
    <div class="button-bar">
      <a class="button button-positive" ng-click="presentation.signUpModal()">{{'actions.signUp' | translate}}</a>
      <a class="button button-assertive" ng-click="presentation.signInModal()">{{'actions.signIn' | translate}}</a>
    </div>
  </ion-footer-bar>

</ion-view>