<ion-modal-view class="castle-bg" ng-controller="SignUpCtrl as signUp">

  <!-- Content -->
  <ion-content class="padding padding-top-5">

    <div class="text-center padding-bottom">
      <img src="img/logos/green.png">
    </div>

    <!-- Sign up form -->
    <form class="card" name="signUp.signUpForm" role="form" ng-submit="signUp.signUp()">

      <div class="item item-divider text-center">{{'actions.signUp' | translate}}</div>

      <label class="item item-input">
        <span class="input-label">{{'user.name' | translate}}</span>
        <input type="text" ng-model="signUp.user.name" required>
      </label>

      <label class="item item-input">
        <span class="input-label">{{'user.email' | translate}}</span>
        <input type="email" ng-model="signUp.user.email" required>
      </label>

      <label class="item item-input">
        <span class="input-label">{{'user.password' | translate}}</span>
        <input type="password" ng-model="signUp.user.password" required>
      </label>

      <div class="item row padding">
        <button class="col button button-clear button-assertive" type="button" ng-click="signUp.closeModal()">{{'actions.cancel' | translate}}</button>
        <button class="col button button-positive" type="submit" ng-disabled="true">{{'actions.signUp' | translate}}</button>
      </div>

    </form>

  </ion-content>
</ion-modal-view>