<ion-modal-view class="calm-bg" ng-controller="SignInCtrl as signIn">

  <!-- Content -->
  <ion-content class="padding">

    <div class="text-center">
      <img src="img/logo-nantes.png">
    </div>

    <form name="signIn.signInForm" role="form" ng-submit="signIn.signIn()">
      <div class="list">
        <label class="item item-input">
          <input type="email" placeholder="{{'user.email' | translate}}" ng-model="signIn.user.email" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="{{'user.password' | translate}}" ng-model="signIn.user.password" required>
        </label>
      </div>

      <div class="row">
        <button class="col button button-clear button-assertive" type="button" ng-click="signIn.closeModal()">{{'actions.cancel' | translate}}</button>
        <button class="col button button-positive" type="submit">{{'actions.signIn' | translate}}</button>
      </div>
    </form>

	</ion-content>

</ion-modal-view>